.filter-container {
  display: flex;
  justify-content: center;
}

.product-not-found {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 480px) {
  .filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.cart-btn-style {
  padding: 10px;
  font-size: large;
  margin: 10px;
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}

.cart-btn-style:hover {
  cursor: pointer;
  background-color: blue;
  color: aliceblue;
}
